<h3>MATEO</h3>
<div>
    <ul class="list-group">
        <li class="list-group-item">RUC: {{Mateo.ruc }}</li>
        <li class="list-group-item">NOMBRE: {{Mateo.name }}</li>
        <li class="list-group-item">DIRECCION: {{Mateo.address.city}}
            - {{Mateo.address.principalStreet}}
            - {{Mateo.address.secondaryStreet}}
        </li>
    </ul>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th>PRODUCTO</th>
            <th>PRECIO UNITARIO</th>
            <th>CANTIDAD</th>
            <th>CATEGORIA</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let items of Mateo?.items">
            <td>{{ items?.product?.name }}</td>
            <td>{{ items?.product?.price }}</td>
            <td>{{ items?.quantity }}</td>
            <td>{{ items?.product?.categoria }}</td>
        </tr>
    </tbody>

</table>