
<div class="container">
    <div class="card my-5">
        <div>
            <div class="card-header">
                <h2>FASHION</h2>
            </div>
            <div class="card-body">
                <div>
                    <div class="row">
                        <app-maria-f [Maria] = "MariaSucursal"></app-maria-f>
                        <app-jose-f [Jose]="JosueSucursal"></app-jose-f>
                        <app-mateo-f [Mateo]="MateoSucursal"></app-mateo-f>
                        <app-kevin-f [Kevin]="KevinSucursal"></app-kevin-f>
                        <app-sofia-f [Sofia]="SofiaSucursal"></app-sofia-f>
                    </div>
                </div>
                <div class="card my-5">
                    <div>
                        <P>TOTAL DE STOCK ENTRE TODAS LAS TIENDAS : 325</P>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>